# Editor files
*.sublime-workspace
*.sublime-project
.vscode

# Log files
*.log

# Temporary files
tmp/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
someblocks

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project Dependencies
vendor
node_modules

# Project Files
PRIVATE_NOTES
*.db
*.sqlite
*.pdf
config.yaml
