{{define "partials/navbar"}}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-md">
      <a class="navbar-brand" href="#">someblocks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link {{isActive "/"}}" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActive "/page/about"}}" href="/page/about">About Me</a>
            </li>
        </ul>
        <div class="d-flex">


            <div class="btn-group">

              {{if .CurrentUser}}
                <a href="/user/profile" class="btn btn-primary">Hi {{.CurrentUser.Username}}</a>

                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="/admin">Administration</a></li>

                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" href="/user/settings">Settings</a></li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                      <form class="dropdown-item" action="/auth/logout" method="POST">
                        {{ csrfField }}
                        <button class="btn btn-text px-0 py-0 border-0">Logout</button>
                      </form>
                    </li>
                  </ul>
                </div>

              {{else}}
                <a href="/auth/login" class="btn btn-primary">Login</a>

                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/auth/register">Register</a></li>
                    <li><a class="dropdown-item" href="/auth/forgot-password">Forgot Password?</a></li>
                  </ul>
                </div>

              {{end}}

            </div>

        </div>
      </div>
    </div>
  </nav>
</header>
{{end}}
