@import "~bootstrap";

@import "feathericons";

//$nav-color: #4a5568;
$nav-color: #dee2e6;

body {
    padding-top: 5rem;

    //color: #1a202c;
    color: #e9ecef;
    text-align: left;
    background-color: #111111;
}

/*
Experiment with dark mode colors
Resources:
https://codepen.io/emdeoh/pen/zYOQOPB
https://codeburst.io/50-shades-of-dark-mode-gray-d3e9907b1194
https://jonathanharrell.github.io/hiq/
https://primer.style/
https://getbootstrap.com/docs/5.0/customize/color/

Color ideas:
#16161D
#151619
#181920
#171717

#0E0E16
#39AC60

#1B1B24
#5D91DF
#4AA172
#FFC107
#8A8DB7

*/

code {
  font-size: 80%;
}

.bg-dark {
    background-color: #212121 !important;
}

.footer {
  background-color: #212121;
  &.container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav-link {
    color: $nav-color;
}

.card {
  background-color: #212121;
}

.shadow-none {
    box-shadow: none !important;
}
