@import "~bootstrap";

@import "feathericons";

/*
Experiment with dark mode colors
Resources:
https://codepen.io/emdeoh/pen/zYOQOPB
https://codeburst.io/50-shades-of-dark-mode-gray-d3e9907b1194
https://jonathanharrell.github.io/hiq/
https://primer.style/
https://getbootstrap.com/docs/5.0/customize/color/

Color ideas:
#16161D
#151619
#181920
#171717

#0E0E16
#39AC60

#1B1B24
#5D91DF
#4AA172
#FFC107
#8A8DB7

*/

//$nav-color: #4a5568;
$nav-color: #dee2e6;
$font-color: $gray-400;
$dark-primary-bg: mix(#000000, #151619, 50);
$dark-secondary-bg: #151619;
$dark-border-color: mix(#000000, #dee2e6, 80);

body {
    padding-top: 5rem;
    color: $gray-400;
    background-color: $dark-primary-bg;
}

code {
    font-size: 80%;
}

.bg-dark {
    //background-color: #212121 !important;
    //background-color: #39AC60 !important;
}

.form-control {
    background-color: $dark-primary-bg;
    border-color: $dark-border-color;
    color: $gray-400;

    &:focus {
        background-color: $dark-primary-bg;
        color: $gray-400 !important;
    }
}

.card {
    border-color: $dark-border-color;
}

.navbar-dark {
    background-color: $dark-secondary-bg !important;

    .navbar-brand {
        color: $primary !important;
    }
}

.footer {
    background-color: $dark-secondary-bg;

    &.container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.nav-link {
    color: $nav-color;
}

.card {
    background-color: $dark-secondary-bg;
}

.shadow-none {
    box-shadow: none !important;
}
