<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>someblocks CMS</title>
    {{partial "partials/styles"}}
</head>

<body class="d-flex flex-column h-100">

    {{partial "partials/navbar"}}

    <main role="main" class="flex-shrink-0">
        <div class="container">
            {{with $flash := getFlashedMessages}}
                <div class="alert alert-{{$flash.Level}} alert-dismissible fade show" role="alert">
                    {{$flash.Message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{end}}

            {{ yield }}
        </div>
    </main><!-- /.container -->

    {{partial "partials/footer"}}

{{partial "partials/scripts"}}
</body>
</html>
