<div class="row justify-content-center">
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title">Login</h5>

            <form action="/auth/login" method="POST">
                {{ csrfField }}

                {{with .Form.Errors.Get "generic"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}

                <div class="mb-3">
                    <label class="form-label" for="login">Email</label>
                    <input class='form-control {{ if .Form.Errors.Get "email" }}is-invalid{{ end }}' type="text" name="email" placeholder="Email" value='{{.Form.Get "email"}}'>
                    {{with .Form.Errors.Get "email"}}
                        <div class="invalid-feedback">{{.}}</div>
                    {{end}}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class='form-control {{ if .Form.Errors.Get "password" }}is-invalid{{ end }}' type="password" name="password" placeholder="Password" value='{{.Form.Get "password"}}'>
                    {{with .Form.Errors.Get "password"}}
                        <div class="invalid-feedback">{{.}}</div>
                    {{end}}
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" name="rememberMe">
                    <label class="form-check-label"> Remember Me</label>
                </div>

                <input class="btn btn-primary" type="submit" name="submit" value="Login">
            </form>

        </div>
    </div>
</div>
